

.title.payment_type {
  font-size: 17px;
  padding: 5px;
  text-align: center;
  margin: 0 auto !important;
}

.title.payment_type span {
  color: lightgreen;
  text-transform: capitalize;
}

.card_info_content.item {
  width: 100%;
  float: left;
  padding: 15px;
  font-size: 18px
}

.group_name {
  width: 100%;
  display: block;
}
span.first_name {
  width: 50%;
}

.card_info_content .card {
  margin: 12px;
}

.card_info_wrapper {
  width: 100%;
  float: left;
  display: block;
}

hr.is-divider{
  width: 100%;
}


h4.invitation_banner {
  width: 100%;
  font-size: 19px;
  padding: 13px;
}

.payment_request_container {
  width: 100%;
  float: left;
  font-size: 17px;
  padding: 4px 0;
}

.card_proced_btn button.button.is-primary.is-half {
  width: 30%;
  margin-left: 12px;
}

.card_proced_btn {
  width: 100%;
  margin-top: 10px;
}

.count_down_timer .block span.text {
  color: #001f3f;
  font-size: 15px;
}
.count_down_timer .block span.time {
  font-size: 25px;
  color: #0074D9;
  padding-left: 15px;
}
