input#email_address{
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.invalid input#email_address {
  border-color: #ed143d;
}

.valid input#email_address {
  border-color: #00E600;
}

p.valid .input ~ .icon.is-small.is-right, p.valid .input:focus ~ .icon.is-small.is-right, p.valid .input:active ~ .icon.is-small.is-right, p.valid .input:hover ~ .icon.is-small.is-right{
  color: #00E600 !important;
}

div.error.notification{
  background-color: #f2dede;
  border: 1px solid lightgrey;
  color: #a94442;
  margin: 5px 0;
  padding: 7px;
}
.count_down_timer .block span.text {
  color: #001f3f;
  font-size: 15px;
}
.count_down_timer .block span.time {
  font-size: 25px;
  color: #0074D9;
  padding-left: 15px;
}

