<style lang="scss">
  @import '../../node_modules/vue-tel-input/dist/vue-tel-input.css';
  @import '../../static/css/cardCollection.css';
</style>
<template>
  <div>
    <!--Start Card Collection-->
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-three-fifths is-offset-one-fifth">
            <img src="../assets/logo.png" alt="splittypay">
            <hr>
            <h1 class="title">
              Dividi il pagamento in quote personalizzabili
            </h1>
            <h2 class="subtitle">
              Dividi i pagamenti lorem ipsum
            </h2>
            <p>Compila i campi sottostanti con i dati delle carte presenti. Per aggiungere una quota premi sul tasto +, per eliminarla premi sul tasto -</p>
          </div>
          <div v-if="errors.length">
            <div class="in error notification">
              <strong>Error!</strong> {{errors}}
            </div>
          </div>
          <div class="container card-containter">
            <form class="column is-three-fifths is-offset-one-fifth" @submit="checkCollectionForm" method="get" action="/Review" novalidate="true">
              <h2><strong>Voglio dividere il pagamento in:</strong></h2>
              <br/>
              <div>
                <a class="button is-primary" v-bind:class="{ 'is-outlined' : payment_type !=='equal', 'active' : payment_type ==='equal'}" v-on:click="payment_type = 'equal'"><i class="fas fa-users"></i>Parti uguali</a>
                <a class="button is-primary" v-bind:class="{ 'is-outlined' : payment_type !=='custom', 'active' : payment_type ==='custom'}" v-on:click="payment_type = 'custom'"><i class="fas fa-edit"></i>Personalizzato</a>
              </div>
              <br/> <br/>

              <div class="start_card_form" v-for="(card, index) in cardData" :key="index" v-bind:id="card.id">
                <hr v-if="index>0" class="is-divider" data-content="OR">
                <!--Start form-->
                <div class="field is-horizontal">
                  <div class="field-body">
                    <div class="field">
                      <p class="control is-expanded has-icons-left" v-bind:class="inputNameClass(card.first_name)">
                        <input class="input name" v-model="card.first_name" itype="text" placeholder="Nome">
                        <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                      </p>
                    </div>
                    <div class="field">
                      <p class="control is-expanded has-icons-left" v-bind:class="inputNameClass(card.last_name)">
                        <input class="input name" v-model="card.last_name" type="text" placeholder="Cognome">
                        <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal card_data">
                  <div class="field">
                    <p class="control is-expanded has-icons-left has-icons-right card_number" v-bind:class="inputCardClass(card.card_number)">
                      <input class="input" type="text" v-model="card.card_number" v-on:keyup="checkCard(card)" placeholder="Numero carta di credito">
                      <span class="icon is-small is-left">
                        <i class="fas fa-credit-card"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left has-icons-right card_date" v-bind:class="checkExpireClass(card.card_date)">
                      <input class="input" type="text" v-model="card.card_date" v-on:keyup="checkExpire(card)" placeholder="MM/YY">
                      <span class="icon is-small is-left">
                        <i class="fas fa-calendar-alt"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left has-icons-right card_cvv" v-bind:class="checkCvvClass(card.card_cvv)">
                      <input class="input" type="text" v-model="card.card_cvv" v-on:keyup="checkCvv(card)" placeholder="Cvv">
                      <span class="icon is-small is-left">
                        <i class="fas fa-credit-card"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left has-icons-right card_amount" v-bind:class="checkAmountClass(card.amount)">
                      <input class="input" type="number" v-model="card.amount" placeholder="Importo">
                      <span class="icon is-small is-left">
                        <i class="fas fa-euro-sign"></i>
                      </span>
                    </p>
                  </div>
                  <div v-if="index>0" class="btn-copy delete_added_item" v-on:click="removeCard(index)"><i class="fas fa-trash"></i></div>
                </div>
                <!--End of form-->
              </div>
              <!--Add new credit card-->
              <div>
                <div class="add-new-credit-card" v-on:click="addNewCard"><i class="fas fa-plus"></i></div>
              </div>
              <!--end of add new credit card-->

            <hr class="is-divider" data-content="OR">
            <!--Invitation email-->
            <div>
              <h1 class="title">
                Richieste di pagamento in tempo reale
              </h1>
              <h2 class="subtitle">
                Vuoi invitare qualcuno?
              </h2>
              <p>Inserisci le mail e i n. di cellulare delle persone a cui vuoi inviare la richiesta di paga- mento.
                Una volta ricevuti tutti i pagamenti ti invieremo una conferma di avvenuta prenotazi- one, nel caso in cui qualche pagamento non dovesse andare a buon fine avrai la pos- sibilità di pagare la quota rimanente direttamente tu, oppure annulare la prenotazi- one. Potrai monitorare lo stato delle richieste tramite il link che ti invieremo a breve via mail.
                N.B. il link di pagamento sarà valido solo per la durata del carrello, per sicurezza avvisa i tuoi amici prima di inviare la richiesta!</p>
            <br/><br/>
            </div>
              <!--Start email form-->
            <div class="field is-horizontal form-email-invitation" v-for="(payment, key) in paymentRequest" :key="payment.id">
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left payment_email" v-bind:class="checkEmailClass(payment.email)">
                    <input class="input" type="text" placeholder="Indirizzo email" v-model="payment.email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded has-icons-left payment_phone" v-bind:class="checkPhoneClass(payment.phone)">
                    <vue-tel-input v-model="payment.phone" @onInput="onInput"></vue-tel-input>
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded has-icons-left payment_amount" v-bind:class="checkAmountClass(payment.amount)">
                    <input class="input" type="number" placeholder="Importo" v-model="payment.amount">
                    <span class="icon is-small is-left">
                        <i class="fas fa-euro-sign"></i>
                      </span>
                  </p>
                </div>
              </div>
              <div v-if="key>0" class="btn-copy delete_added_item" v-on:click="removePayment(key)"><i class="fas fa-trash"></i></div>
            </div>
              <div>
                <div class="btn-copy add-new-credit-card" v-on:click="addNewPayment"><i class="fas fa-plus"></i></div>
              </div>
              <!--end of email form-->
            <!--end of invitation email-->
              <br>
              <hr class="is-divider" data-content="OR">
              <div class="field">
                <p class="control">
                  <button class="button is-primary is-fullwidth">
                    Procedi
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--End of hero-->
  </div>
</template>

<script>
export default {
  data () {
    return {
      errors: '',
      payment_type: 'equal',
      cardData: [
        {id: 'card_' + 1, first_name: '', last_name: '', card_number: '', card_date: '', card_cvv: '', amount: ''}
      ],
      paymentRequest: [
        {id: 'payment_' + 1, email: '', phone: '', amount: ''}
      ]
    }
  },
  computed: {
    inputCardNumber: function (value) {
      // this.card_number = this.checkCard(value)
      return 'card'
    }
  },
  created: function () {
    this.cardData = localStorage.getItem('cardData') ? JSON.parse(localStorage.getItem('cardData')) : this.cardData
    this.payment_type = localStorage.getItem('payment_type') ? JSON.parse(localStorage.getItem('payment_type')) : this.payment_type
    this.paymentRequest = localStorage.getItem('paymentRequest') ? JSON.parse(localStorage.getItem('paymentRequest')) : this.paymentRequest
  },
  methods: {
    checkCollectionForm: function (e) {
      this.errors = ''
      this.cardData.forEach((card, index) => {
        if (!card.first_name || !card.card_number || !card.card_date || !card.card_cvv || !card.amount) {
          this.errors = 'Please Input require fields'
        }
      })
      if (!this.errors) {
        localStorage.setItem('cardData', JSON.stringify(this.cardData))
        localStorage.setItem('payment_type', JSON.stringify(this.payment_type))
        localStorage.setItem('paymentRequest', JSON.stringify(this.paymentRequest))
        return true
      }
      window.scrollTo(0, 0)
      e.preventDefault()
    },
    inputNameClass: function (input) {
      return input === '' ? 'empty' : 'valid'
    },
    inputCardClass: function (input) {
      return input.length >= 18 ? 'valid' : 'invalid'
    },
    checkCard: function (card) {
      var v = card.card_number.replace(/\s+/g, '').replace(/[^0-9]/gi, '')
      var matches = v.match(/\d{4,16}/g)
      var match = (matches && matches[0]) || ''
      var parts = []
      var i
      var len
      for (i = 0, len = match.length; i < len; i += 4) {
        parts.push(match.substring(i, i + 4))
      }
      if (parts.length) {
        card.card_number = parts.join(' ')
      }
    },
    checkExpire: function (card) {
      var v = card.card_date.replace(/\s+/g, '').replace(/[^0-9]/gi, '')
      var matches = v.match(/\d{2,4}/g)
      var match = (matches && matches[0]) || ''
      var parts = []
      var i
      var len
      for (i = 0, len = match.length; i < len; i += 2) {
        parts.push(match.substring(i, i + 2))
      }
      if (parts.length) {
        card.card_date = parts.join('/')
      }
    },
    checkCvv: function (card) {
      var v = card.card_cvv.replace(/\s+/g, '').replace(/[^0-9]/gi, '')
      card.card_cvv = v.substring(0, 3)
    },
    checkCvvClass: function (cvv) {
      return (cvv && cvv.length === 3) ? 'valid' : 'invalid'
    },
    checkEmailClass: function (email) {
      if (email) {
        return this.validateEmail(email) ? 'valid' : 'invalid'
      } else {
        return ''
      }
    },
    validateEmail: function (email) {
      var re = new RegExp('^(([^<>()\\[\\]\\\\.,;:\\s@"]+(\\.[^<>()\\[\\]\\\\.,;:\\s@"]+)*)|(".+"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$')
      return re.test(String(email).toLowerCase())
    },
    checkAmountClass: function (amount) {
      if (amount) {
        return (amount.length && parseInt(amount) > 0) ? 'valid' : 'invalid'
      } else {
        return ''
      }
    },
    checkPhoneClass: function (phone) {
      if (phone) {
        return typeof phone === 'number' ? 'valid' : 'invalid'
      } else {
        return ''
      }
    },
    checkExpireClass: function (expire) {
      if (expire) {
        var d = new Date()
        var currentYear = d.getFullYear()
        var currentMonth = d.getMonth() + 1
        var parts = expire.split('/')
        var year = parseInt(parts[1], 10) + 2000
        var month = parseInt(parts[0], 10)
        return !(year && (month <= 12)) || (year < currentYear || (year === currentYear && month < currentMonth)) ? 'invalid' : 'valid'
      } else {
        return 'invalid'
      }
    },
    addNewCard: function () {
      var getExistingCardId = this.cardData.length ? this.cardData[this.cardData.length - 1].id : 'card_0'
      var getExistingNumber = parseInt(getExistingCardId.match(/\d+/)[0])
      var newCard = {id: 'card_' + (getExistingNumber + 1), first_name: '', last_name: '', card_number: '', card_date: '', card_cvv: '', amount: ''}
      this.cardData.push(newCard)
    },
    addNewPayment: function () {
      var getExistingCardId = this.paymentRequest.length ? this.paymentRequest[this.paymentRequest.length - 1].id : 'card_0'
      var getExistingNumber = parseInt(getExistingCardId.match(/\d+/)[0])
      var newPayment = {id: 'payment_' + (getExistingNumber + 1), email: '', phone: '', amount: ''}
      this.paymentRequest.push(newPayment)
    },
    removePayment: function (key) {
      this.paymentRequest.splice(key, 1)
    },
    removeCard: function (key) {
      this.cardData.splice(key, 1)
    },
    onInput ({ number, isValid, country }) {
      console.log(number, isValid, country)
    }
  }
}
</script>

<style scoped>

</style>
