<template>
  <div id="app">
    <router-view/>
    <footerNav></footerNav>

  </div>
</template>

<script>
/*eslint-disable*/
  import topNav from './components/globals/header.vue'
  import footerNav from './components/globals/footer.vue'

  export default {
    name:'App',
    components: {
      'topNav': topNav,
      'footerNav': footerNav
    }
  }
</script>

<style>

</style>
