<template>
<div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>© 2018 Splittypay</strong> The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
</div>
</template>

<script>
export default {
  name: 'footer'
}
</script>

<style scoped>

</style>
